{% extends 'form/form-center.html.twig' %}

{% block title %}
    Edit Item
{% endblock %}

{% block form_title %}
    Edit Item
{% endblock %}

{% block form_items %}
    {{ form_widget(form) }}
{% endblock %}

{% block form_buttons %}
    <button class="btn btn-primary">Save</button>
    <a href="#" class="btn btn-danger"
       onclick="event.preventDefault(); document.getElementById('delete-form-{{ item.id }}').submit();">Delete</a>
{% endblock %}

{% block form_other %}
    {# Form for Delete button #}
    <form id="delete-form-{{ item.id }}"
          action="{{ path('collection_item_delete', {'id': item.id}) }}"
          method="post" style="display:none;">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ item.id) }}">
    </form>
{% endblock %}
