<div href="{{ path('collection_item_show', {'id': item.id}) }}"
     class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">

    <a href="{{ path('collection_item_show', {'id': item.id}) }}" class="text-decoration-none text-body stretched-link">
        <div>
            <h5 class="mb-1">{{ item.name }}</h5>
        </div>
    </a>

    <div>
        <div class="btn-group z-1">
            {% if is_granted('edit', item.getCollectionContainer) %}
                <a href="{{ path('collection_item_edit', {id: item.id}) }}"
                   class="btn btn-warning btn-sm">
                    <i class="fa-solid fa-pen"></i>
                </a>
                <a href="#" class="btn btn-danger btn-sm"
                   onclick="event.preventDefault(); document.getElementById('item-delete-form-{{ item.id }}').submit();">
                    <i class="fa-solid fa-trash"></i>
                </a>
            {% endif %}
        </div>

        {# Form for Delete button #}
        <form id="item-delete-form-{{ item.id }}"
              action="{{ path('collection_item_delete', {'id': item.id}) }}"
              method="post" style="display:none;">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ item.id) }}">
        </form>
    </div>
</div>