{% extends 'layout/page-center.html.twig' %}

{% block title %}Category{% endblock %}

{% block content %}
    <div class="form-page-wrapper">
        <h1 class="h3 mb-3 font-weight-normal">Category</h1>

        <table class="table">
            <tbody>
            <tr>
                <th>Name</th>
                <td>{{ category.name }}</td>
            </tr>
            </tbody>
        </table>

        <div class="btn-group d-flex">
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('collection_category_edit', {'id': category.id}) }}" class="btn btn-warning">Edit</a>
                <a href="#" class="btn btn-danger"
                   onclick="event.preventDefault(); document.getElementById('delete-form-{{ category.id }}').submit();">Delete</a>
            {% endif %}
        </div>

        {# Form for Delete button #}
        <form id="delete-form-{{ category.id }}"
              action="{{ path('collection_category_delete', {'id': category.id}) }}"
              method="post" style="display:none;">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
        </form>
    </div>
{% endblock %}
