{% extends 'layout/page-container.html.twig' %}

{% block title %}Users{% endblock %}

{% block content %}
    <div class="foreground">
        <h1 class="m-0 text-center">Users</h1>
    </div>

    <div class="foreground">
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Full Name</th>
                <th>Roles</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.fullName }}</td>
                    <td>{{ user.roles|join(', ') }}</td>
                    <td>
                        <div class="btn-group">
                            <a href="{{ path('user_show', {'id': user.id}) }}" class="btn btn-primary">View</a>
                            <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-warning">Edit</a>
                            <a href="#" class="btn btn-danger"
                               onclick="event.preventDefault(); document.getElementById('delete-form-{{ user.id }}').submit();">Delete</a>
                        </div>

                        {# Form for Delete button #}
                        <form id="delete-form-{{ user.id }}"
                              action="{{ path('user_delete', {'id': user.id}) }}"
                              method="post" style="display:none;">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('user_new') }}" class="btn btn-success">Create</a>
    </div>
{% endblock %}
